* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: block;
}

.navbar {
  background-color: black;
  width: 100%;
}

.nav {
  max-width: 1400px;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  flex-wrap: wrap;
}


.nav-link ul{
    display: flex;
  align-items: center;
  gap: 30px;
  text-decoration: none;
  list-style: none;
  font-size: 22px;
}
.menu ul{
    display: flex;
  align-items: center;
  gap: 30px;
   text-decoration: none;
   font-size: 22px;
   list-style: none;
}
.btn {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 50px;
}


.btn button {
  font-size: 22px;
  background-color: blue;
  color: white;
  border: none;
  height: 100%;
  width: 100px;
}

.nav2 {
  margin-left: 90px;
  margin-right: 90px;
}
.tabs ul {
  display: flex;
  list-style: none;
  gap: 50px;
  justify-content: center;
  margin-top: 10px;
  color: gray;
  font-size: 20px;
}
.container {
  margin-top: 20px;
  background-color: rgb(53, 53, 53);
  padding-left: 90px;
  padding-right: 90px;
  display: flex;
}
.hero {
  width: 50%;
  height: 500px;
}
.contant {
  width: 50%;
}
.hero img {
  width: 100%;
  height: 100%;
}
.contant {
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-left: 100px;
}

.contant h1 {
  font-size: 35px;
}
.contant p {
  font-size: 25px;
  padding-top: 20px;
}

.btn1 {
  margin-top: 50px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid blue;
  font-size: 18px;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.info h1 {
  font-size: 40px;
}
.info p {
  padding-top: 20px;
  font-size: 22px;
}
.product {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  gap: 20px;
  padding-top: 30px;
}

.card {
  width: 33%;
  height: 400px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(245, 239, 239);
}
.card img {
  border-radius: 10px;
  height: 300px;
  width: 100%;
}

.card p {
  font-size: 22px;
}

footer {
  padding-top: 50px;
}
.ftr {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  padding-left: 100px;
  padding-right: 100px;
}




@media (max-width: 1200px) {
  .nav {
    gap: 80px;
  }

  .container {
    flex-direction: column;
  }

  .hero{
     width: 100%;
  }
  .contant {
    width: 100%;
  }

  .contant {
    padding: 50px;
  }

  .product {
    padding-left: 50px;
    padding-right: 50px;
  }
}



@media (max-width: 990px) {
   .nav {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
  }

  .nav-link ul{
     flex-direction: column;
    gap: 15px;
  }
  .menu ul {
    flex-direction: column;
    gap: 15px;
  }

  .btn {
    justify-content: center;
  }

  .tabs ul {
    flex-wrap: wrap;
    gap: 25px;
  }

  .product {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
  }
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav {
    font-size: 18px;
  }

  .contant h1 {
    font-size: 28px;
  }

  .contant p {
    font-size: 20px;
  }

  .info h1 {
    font-size: 30px;
  }

  .info p {
    font-size: 18px;
  }

  .ftr {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}


@media (max-width: 576px) {
  .nav-link ul{
    flex-direction: column;
    gap: 15px;
  }
  .menu ul {
    flex-direction: column;
    gap: 15px;
  }

  .btn button {
    width: 90px;
    font-size: 18px;
  }

  .contant {
    padding: 30px;
  }

  .btn1 {
    width: 180px;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 476px) {
  .contant h1 {
    font-size: 24px;
  }

  .contant p {
    font-size: 18px;
  }

  .tabs ul {
    font-size: 16px;
  }

  .info h1 {
    font-size: 26px;
  }
}


